
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: lightsteelblue;
    font-family: 'Raleway', sans-serif;
}
nav {
    background-color: darkslateblue;
    color: white;
    font-size: 2em;
}
ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
}
li {
    margin-right: 1%;
    margin-left: 2%;
}
li:nth-child(2) {
    margin-left: auto;
}
form {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    margin: 10% 0 0 0;
}

button {
    width: 5%;
}
